{
    "extends": "standard",
    "globals": {
        "BIN_MODE": true
    },
    "rules": {
        "complexity": [
            "error",
            10
        ],
        "default-case": "error",
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-console": "warn",
        "no-eval": 0,
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 2,
                "maxEOF": 1
            }
        ],
        "no-useless-call": 0,
        "one-var": [
            "error",
            "always"
        ],
        "operator-linebreak": [
            "error",
            "before"
        ],
        "prefer-template": "error",
        "semi": [
            "error",
            "always"
        ],
        "valid-typeof": 0
    }
}